<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="wrapper">
    <app-nav></app-nav>
    <div id="content">
        <div class="container-fluid" style="margin-top: 30px;">
            <h3 class="text-dark mb-4">Dashboard</h3>
            <app-earning-calculator></app-earning-calculator>
            <app-fifo></app-fifo>
        </div>
    </div>
</div>
<router-outlet></router-outlet>