<div class="container-fluid" style="margin-top: 30px;">
  <h3 class="text-dark mb-4">Dashboard</h3>
  <div class="row">
    <div class="col-md-6">
      <app-earning-calculator (updatePrice)="receivePrice($event)"></app-earning-calculator>
      <app-auto-stopper [price]="price" [lever]="lever" [long]="long"></app-auto-stopper>
    </div>
    <div class="col-md-6">
      <div class="card shadow mb-3">
        <div class="card-header py-3">
          <p class="text-primary m-0 font-weight-bold">Settings</p>
        </div>
        <div class="card-body">
          <form [formGroup]="settingForm" (ngSubmit)="updateSettings()">
            <div class="form-row">
              <div class="col">
                <div class="form-group"><label><strong>Lever</strong></label><input class="form-control" type="number"
                    placeholder="0" formControlName="lever"></div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group"><label><strong>Short</strong></label><input class="form-control" type="checkbox"
                    placeholder="0" formControlName="long"></div>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Set</button></div>
                <div class="text-{{this.response}}" style="margin-left: 10px;">{{this.response}}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>